@{
    Layout = null;
}
@using KentStatePoliceInventory.Models
@model KentStatePoliceInventory.Models.UserViewModel

<!DOCTYPE html>
<html>
  <head>
    <title>KSUPD Add/Remove Users</title>
    <link rel="stylesheet" href="Styles/Main.css">
    <script type="text/javascript" src="Scripts/jquery-3.2.1.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <div class="header">
      <h2 id="head-title">Kent State Police Department Edit Users</h2>
    </div>

    <table id="main-table-display">
        <tr>
            <th>Officer Name</th>
			<th>Access Level</th>
            <th>Badge Number</th>
			<th>Actions</th>
		</tr>
        @foreach (var user in Model.Users)
		{
            <tr>
                <td id="@(user.UserName)-name">@user.UserName</td>
				<td id="@(user.UserName)-access-level">@user.AccessLevel</td>
				<td id="@(user.UserName)-badge-number">@user.BadgeId</td>
				<td>
					<select id="@(user.UserName)-access-selector">
						<option value="placeholder" disabled selected>Change Access Level</option>
                        <option value="Administrator">Administrator</option>
                        <option value="Standard">Standard</option>
                    </select>
					<button id="@(user.UserName)-remove" type="button">Remove</button>
				</td>
			</tr>
		}
	</table>
     <button id="add" type="button">Add New User</button>  
  </body>

<div id="add-user-dialog" title="Add New User">
    <h3>Officer Name</h3>
    <input id="new-user-name" type="text">
    <h3>Access Level</h3>
    <select id="new-user-access">
        <option value="admin">Administrator</option>
		<option value="standard">Standard</option>
	</select>
    <h3>Badge Number</h3>
    <input  id="new-user-badge" type="text">
    <br>
    <button id="new-user-submit" type="button">Submit</button>
</div>

<script type="text/javascript">
    $('[id*="access-selector"]').change(function() { 
        $(this).closest('tr').find("[id*='access-level']").text($(this).find(":selected").text() + "*");
	});

    $('[id*="remove"]').click(function(){
        var currentRow = $(this);
		if(confirm("Remove " + $(this).closest('tr').find("[id*='name']").text() + "?")){
            var userToRemove = $(this).closest('tr').find("[id*='name']").text();

            $.ajax({
                dataType: "json",
                data: {
                    userName: userToRemove,
                },
                url: '@Url.Action("RemoveUser")',
                type: 'POST',
                success: function (result) {
                    alert('User successfully removed');
                    currentRow.closest('tr').remove();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("FAIL. GIT GUD SON");
                }
            });
		}
	});

	$('#add-user-dialog').dialog({
        autoOpen: false
    });
        
    $('#add').click(function() {
		$('#new-user-name').val("");
		$('#new-user-badge').val("");
        $('#add-user-dialog').dialog('open');
        return false;
    });

	$('#new-user-submit').click(function() {
		
		var newUserName = $('#new-user-name').val();
        var newBadgeNumber = parseInt($('#new-user-badge').val());
		var newUserLevel = $('#new-user-access').val();

        $.ajax({
            dataType: "json",
            data: {
                userName: newUserName,
		        badgeNumber: parseInt(newBadgeNumber),
		        accessLevel: newUserLevel
            },
            url: '@Url.Action("AddNewUser")',
            type: 'POST',
            success: function (result) {
                alert('New user successfully added');
                $('#add-user-dialog').dialog('close');
                location.reload(); // reload page to update data and table
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("FAIL. GIT GUD SON");
            }
        });
	})
</script>